/* CABECALHO */
.cabecalho{
    padding: 1rem 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.cabecalho__principal{
    display: flex;
    align-items: center;
}
.cabecalho__principal img{
    width: 176px;
    height: 50px;
    margin-right: 1rem;
}

@media screen and (max-width: 870px){
    .cabecalho{
        padding: 1rem 2.5rem;
    }
    .cabecalho__principal img{
        width: 100px;
        height: 28px;
    }
    .cabecalho__principal+.btn__secundario{
        padding: .5rem ;
    }
}
@media screen and (max-width: 768px){
    .cabecalho__principal .input__busca{
        width: 275px;
    }
}
@media screen and (max-width: 620px){
    .cabecalho .btn__busca{
        display: block;
    }
    .cabecalho__principal .input__busca{
        display: none;
    }
    .cabecalho+.input__busca--dropdown{
        width: 97%;
    }
}
@media screen and (max-width: 360px){
    .cabecalho{
        padding: 1rem;
    }
}