/* CABECALHO */
.container__cabecalho{
    padding: 1rem 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.container__cabecalho--principal{
    display: flex;
    align-items: center;
}
.container__cabecalho--principal img{
    width: 176px;
    height: 50px;
    margin-right: 1rem;
}
.container__dropdown{
    display: none;
}

@media screen and (max-width: 870px){
    .container__cabecalho{
        padding: 1rem 2.5rem;
    }
    .container__cabecalho--principal img{
        width: 100px;
        height: 28px;
    }
}
@media screen and (max-width: 620px){
    .container__cabecalho--principal .input__busca{
        display: none;
    }
    .container__dropdown{
        display: block;
    }
}
@media screen and (max-width: 360px){
    .container__cabecalho{
        padding: 1rem;
    }
}