/* Pagina Login */
.login{
    background-color: var(--fundo-pagina);
    text-align: center;
    padding: 5rem 0;
}

/* Pagina Cadastro */
.cadastro{
    background-color: var(--fundo-pagina);
    padding: 5rem 0;
}
/* Pagina Home */
.banner{
    position: relative;
    width: 100%;
    height: 352px;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    margin-left: 5rem;
}
.container__info p{
    margin: 1rem 0;
}

/* Produtos */
.produtos{
    padding: 2rem 5rem;
    background-color: var(--fundo-pagina);
}

/* Seção */
.secao__conteudo{
    display: grid;
    margin: .5rem 0 3rem 0;
    grid-template-columns: repeat(6,175px);
    justify-content: space-between;
}
/* .secao__conteudo > .card__produto:nth-child(n+7){
    display: none;
} */
.secao__conteudo--todos{
    display: grid;
    margin-top: .5rem;
    grid-template-columns: repeat(6,175px);
    justify-content: space-between;
    row-gap: 1rem;
}
.secao__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1210px){
    .secao__conteudo,
    .secao__conteudo--todos{
        grid-template-columns: repeat(5,175px);
    }
    /* .secao__conteudo > .card__produto:nth-child(n+6){
        display: none;
    } */
}
@media screen and (max-width: 1035px){
    .secao__conteudo,
    .secao__conteudo--todos{
        grid-template-columns: repeat(4,175px);
    }
    /* .secao__conteudo > .card__produto:nth-child(n+5){
        display: none;
    } */
}
@media screen and (max-width: 870px){
    .produtos{
        padding: 2.5rem;
    }
}
@media screen and (max-width: 780px){
    .secao__conteudo,
    .secao__conteudo--todos{
        grid-template-columns: repeat(4,160px);
    }
}
@media screen and (max-width: 768px){
    .container__info{
        margin-left: 1rem;
    }
}
@media screen and (max-width: 720px){
    .secao__conteudo,
    .secao__conteudo--todos{
        grid-template-columns: repeat(3,160px);
    }
}
@media screen and (max-width: 610px){
    .container__info h1{
        font-size: 32px;
    }
    .container__info p{
        font-size: 18px;
    }
}
@media screen and (max-width: 560px){
    .produtos{
        padding: 2.5rem 1rem;
    }
    .banner{
        height: 192px;
    }
    .container__info{
        top: 30%;
    }
    .container__info h1{
        font-size: 22px;
    }
    .container__info p{
        font-size: 14px;
    }
    .secao__header .texto__secao{
        font-size: 22px;
    }
}
@media screen and (max-width: 490px){
    .secao__conteudo,
    .secao__conteudo--todos{
        grid-template-columns: repeat(2,140px);
    }
}
@media screen and (max-width: 390px){
    .secao__header h2{
        margin-bottom: 1rem;
    }
}