/* Pagina Home */
.container__banner{
    position: relative;
}
.container__banner img{
    width: 100%;
}
.container__banner--textos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    margin-left: 5rem;
}
.container__banner--textos p{
    margin: 1rem 0;
}
.container__produtos{
    padding: 2rem 5rem;
    background-color: var(--fundo-pagina);
}
.card__secao{
    margin: .5rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card__secao--todos{
    display: grid;
    column-gap: 3.3rem;
    row-gap: 1rem;
    grid-template-columns: repeat(6,1fr);
    margin-top: .5rem;
}
.card__produto{
    display: flex;
    flex-direction: column;
    min-width: 175px;
    margin-bottom: 2rem;
}
.card__produto img{
    margin-bottom: .5rem;
    max-width: 175px;
    width: 100%;
}

.card__produto .texto__negrito{
    margin: .5rem 0;
}
.card__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.card__header span{
    background: url("../../img/icone/icone-seta.png") no-repeat;
    background-position: right;
    padding-right: 1.4rem; 
}
/* Pagina Login */
.container__login{
    background-color: var(--fundo-pagina);
    text-align: center;
    padding: 5rem 0;
}
.card__login{
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;
}
.card__login input, 
.card__login button{
    margin-top: 1rem;
}

/* Pagina Cadastro */
.container__cadastro{
    background-color: var(--fundo-pagina);
    padding: 5rem 0;
}
.card__cadastro{
    display: flex;
    flex-direction: column;
    max-width: 520px;
    margin: 0 auto;
}
.card__cadastro textarea{
    margin: .5rem 0;
}
/* Pagina todos os produtos */
.container__edita{
    position: relative;
}
.container__edita button{
    position: absolute;
    right: 5%;
    top: 3%;
}
/* Pagina Descricao */
.container__descricaoProduto{
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
    background-color: var(--fundo-pagina);
}
.container__descricaoProduto img{
    width: 560px;
    max-height: 400px;
    object-fit: cover;
}
.card__descricao{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.card__descricao span{
    margin: 1rem 0;
}