@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url(_reset.css);
@import url(_variaveis.css);
@import url(../componentes/_botao.css);
@import url(../componentes/_input.css);
@import url(../componentes/_form.css);
@import url(../componentes/_card.css);


body{
    font-family: var(--fonte);   
    font-weight: var(--peso-negrito);
}
header{
    background-color: var(--fundo-branco);
}
option:first-child{
    color: var(--cor-cinza);
}
a {
    text-decoration: none;
}

.transparente{
    display: none;
}
.aviso{
    margin: .5rem auto;
    display: flex;
    justify-content: space-between;
    max-width: 520px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(--cor-verde);
    background-color: var(--cor-azul);
    padding: .5rem;
}

.texto__destaque{
    font-size: var(--tamanho-destaque);
    color: var(--cor-branco);
}
.texto__destaque--produto{
    font-weight: var(--peso-medio);
    font-size: var(--tamanho-destaque);
    color: var(--cor-preto);
}
.texto__subtitulo{
    font-size: var(--tamanho-subtitulo);
    color: var(--cor-branco);
}
.texto__secao{
    font-size: var(--tamanho-grande);
}
.texto__primario{
    font-size: var(--tamanho-medio);
    color: var(--cor-azul);
}
.texto__titulo,
.texto__id{
    font-weight: var(--peso-medio);
    font-size: var(--tamanho-normal);
    color: var(--cor-preto);
}
.texto__negrito{
    font-size: var(--tamanho-medio);
    color: var(--cor-preto);
}
.texto__normal{
    font-weight: var(--peso-medio);
    font-size: var(--tamanho-medio);
    color: var(--cor-preto);
}
.texto__pequeno{
    font-weight: var(--peso-normal);
    font-size: var(--tamanho-pequeno);
    color: var(--cor-cinza);
}
.texto__descricao{
    font-weight: var(--peso-normal);
    font-size: var(--tamanho-medio);
    color: var(--cor-preto);
    line-height: 19px;
}

.texto__concluido{
    font-size: var(--tamanho-medio);
    font-weight: var(--peso-medio);
    color: var(--cor-branco);

}