.btn{
    font-weight: var(--peso-normal);
    font-size: var(--tamanho-medio);
    min-width: 100px;
    padding: 1rem;
    text-align: center;
}
.btn__primario{
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    border: none;
}
.btn__secundario{
    border: 1px solid var(--cor-azul);
    color: var(--cor-azul);
}
.btn__icone{
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
}
.btn__busca{
    background-position: center;
    display: none;
}
.btn__edita{
    background: var(--icone-lapis);
}
.btn__exclui{
    background: var(--icone-lixo);
}
.btn__show{
    color: var(--cor-azul);
    background: var(--icone-seta);
    background-position: right;
    border: none;
    font-size: var(--tamanho-medio);
    font-weight: var(--peso-negrito);    
    padding-right: 1.4rem; 
}

.btn:hover,
.btn__show:hover,
.btn__icone:hover{
    cursor: pointer;
}
