/* Produto */
.card__produto{
    display: flex;
    flex-direction: column;
    width: 175px;
    margin-bottom: 2rem;
}
.card__produto img{
    margin-bottom: .5rem;
    max-width: 175px;
    width: 100%;
}
.card__produto .texto__negrito{
    margin: .5rem 0;
}
.card__produto .container__edita{
    position: relative;
}
.card__produto .container__edita button{
    position: absolute;
    right: 5%;
    top: 3%;
}

/* Descrição */
.card__descricaoProduto{
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
    background-color: var(--fundo-pagina);
}
.card__imagem{
    width: 560px;
    height: 400px;
}
.card__imagem img{
    width: 100%;
    height: inherit;
    object-fit: contain;
}
.card__descricao{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.card__descricao span{
    margin: 1rem 0;
}


@media screen and (max-width: 870px){
    .card__descricaoProduto{
        padding: 2.5rem;
    }
    .card__descricaoProduto img{
        width: 254px;
    }
    .card__descricao h1{
        font-size: 22px;
    }
    .card__descricao .texto__descricao{
        margin: .5rem 0;
    }
}
@media screen and (max-width: 780px){
    .card__produto{
        width: 160px;
    }
}
@media screen and (max-width: 560px){
    .card__produto{
        width: 140px;
    }
    .card__descricaoProduto{
        flex-direction: column;
        padding: 0;
    }
    .card__descricaoProduto img{
        width: 100%;
    }
    .card__descricao{
        padding: 1rem;
    }
}
