/* CABECALHO */
.container__cabecalho{
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__cabecalho--principal{
    display: flex;
    align-items: center;
}
.container__cabecalho--principal img{
    width: 176px;
    height: 50px;
    margin-right: 1rem;
}

/* PRINCIPAL */
.container__banner{
    position: relative;
}
.container__banner img{
    width: 100%;
}
.container__banner--textos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    margin-left: 5rem;
}
.container__banner--textos p{
    margin: 1rem 0;
}
.container__produtos{
    padding: 2rem 5rem;
    background-color: var(--fundo-pagina);
}

.container__login{
    background-color: var(--fundo-pagina);
    text-align: center;
    padding: 5rem 0;
}
.container__cadastro{
    background-color: var(--fundo-pagina);
    padding: 5rem 0;
}
.container__edita{
    position: relative;
}
.container__edita button{
    position: absolute;
    right: 5%;
    top: 3%;
}
/* Input */
.container__input{
    position: relative;
    width: 100%;
}
.container__input label{
    position: absolute;
    top: 20%;
    padding-left: .5rem;
}

.container__descricaoProduto{
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
    background-color: var(--fundo-pagina);
}
.container__descricaoProduto img{
    width: 560px;
    max-height: 400px;
    object-fit: cover;
}
/* RODAPE */
.container__rodape{
    background-color: var(--fundo-rodape);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2.5rem 5rem;

}
.container__contato{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
}
.container__copyright{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--fundo-branco);
    margin: 2rem 0;

}
